# Mock Data Aritzia Assessment

Data randomizer function built by Juan Luis Tagle
https://towardsdatascience.com/generating-fake-data-with-pandas-very-quickly-b99467d4c618

In [18]:
import pandas as pd
import numpy as np
import random
from itertools import cycle

def generate_fake_dataframe(size, cols, col_names = None, intervals = None, seed = None):
    
    categories_dict = {'animals': ['cow', 'rabbit', 'duck', 'shrimp', 'pig', 'goat', 'crab', 'deer', 'bee', 'sheep', 'fish', 'turkey', 'dove', 'chicken', 'horse'],
                       'names'  : ['James', 'Mary', 'Robert', 'Patricia', 'John', 'Jennifer', 'Michael', 'Linda', 'William', 'Elizabeth', 'Ahmed', 'Barbara', 'Richard', 'Susan', 'Salomon', 'Juan Luis'],
                       'cities' : ['Vancouver', 'Denver', 'Los Angeles', 'New York', 'Toronto', 'Edmonton', 'Calgary', 'Halifax', 'Victoria', 'Ottawa', 'Chicago', 'Quebec City', 'Hamilton', 'Winnipeg', 'Montreal'],
                       'colors' : ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple', 'pink', 'silver', 'gold', 'beige', 'brown', 'grey', 'black', 'white']
                      }
    default_intervals = {"i" : (0,10), "f" : (0,100), "c" : ("names", 5), "d" : ("2020-01-01","2020-12-31")}
    rng = np.random.default_rng(seed)

    first_c = default_intervals["c"][0]
    categories_names = cycle([first_c] + [c for c in categories_dict.keys() if c != first_c])
    default_intervals["c"] = (categories_names, default_intervals["c"][1])
    
    if isinstance(col_names,list):
        assert len(col_names) == len(cols), f"The fake DataFrame should have {len(cols)} columns but col_names is a list with {len(col_names)} elements"
    elif col_names is None:
        suffix = {"c" : "cat", "i" : "int", "f" : "float", "d" : "date"}
        col_names = [f"column_{str(i)}_{suffix.get(col)}" for i, col in enumerate(cols)]

    if isinstance(intervals,list):
        assert len(intervals) == len(cols), f"The fake DataFrame should have {len(cols)} columns but intervals is a list with {len(intervals)} elements"
    else:
        if isinstance(intervals,dict):
            assert len(set(intervals.keys()) - set(default_intervals.keys())) == 0, f"The intervals parameter has invalid keys"
            default_intervals.update(intervals)
        intervals = [default_intervals[col] for col in cols]
    df = pd.DataFrame()
    for col, col_name, interval in zip(cols, col_names, intervals):
        if interval is None:
            interval = default_intervals[col]
        assert (len(interval) == 2 and isinstance(interval, tuple)) or isinstance(interval, list), f"This interval {interval} is neither a tuple of two elements nor a list of strings."
        if col in ("i","f","d"):
            start, end = interval
        if col == "i":
            df[col_name] = rng.integers(start, end, size)
        elif col == "f":
            df[col_name] = rng.uniform(start, end, size)
        elif col == "c":
            if isinstance(interval, list):
                categories = np.array(interval)
            else:
                cat_family, length = interval
                if isinstance(cat_family, cycle):
                    cat_family = next(cat_family)
                assert cat_family in categories_dict.keys(), f"There are no samples for category '{cat_family}'. Consider passing a list of samples or use one of the available categories: {categories_dict.keys()}"
                categories = rng.choice(categories_dict[cat_family], length, replace = False, shuffle = True)
            df[col_name] = rng.choice(categories, size, shuffle = True)
        elif col == "d":
            df[col_name] = rng.choice(pd.date_range(start, end), size)
    return df

### Visits Table

Generate dataframe for first period (Week 1) filled with Random information

In [19]:
intervals_ = [(1,50), (50,100),("2022-08-01","2022-08-07"),(0,2),(0,2),["organic", "email", "direct"],["mobile", "desktop", "tablet"],("cities", 15)]

df1 = generate_fake_dataframe(
          size = 5000,
          cols = "iidiiccc",
          col_names = ["visitorid", "visitid", "date", "visits","transactions","trafficsource","devicecategory","city"],
          intervals = intervals_)

Generate dataframe for second period (Week 2) filled with Random information

In [24]:
intervals_ = [(1,50), (50,100),("2022-08-08","2022-08-14"),(0,2),(0,2),["organic", "email", "direct"],["mobile", "desktop", "tablet"],("cities", 15)]

df2 = generate_fake_dataframe(
          size = 5000,
          cols = "iidiiccc",
          col_names = ["visitorid", "visitid", "date", "visits","transactions","trafficsource","devicecategory","city"],
          intervals = intervals_)

Generate dataframe for second period (Week 2) with random information but no transactions (to simulate 5% drop)

In [26]:
intervals_ = [(1,50), (50,100),("2022-08-08","2022-08-14"),(0,2),(0,1),["organic", "email", "direct"],["mobile", "desktop", "tablet"],("cities", 15)]

df3 = generate_fake_dataframe(
          size = 250,
          cols = "iidiiccc",
          col_names = ["visitorid", "visitid", "date", "visits","transactions","trafficsource","devicecategory","city"],
          intervals = intervals_)

Merge all three DFs to create two weeks of data, with a ~5% drop

In [27]:
df = pd.concat([df1,df2,df3])

In [67]:
df.head()

,visitorid,visitid,date,visits,transactions,trafficsource,devicecategory,city
0,37,64,2022-08-07,0,1,email,desktop,Quebec City
1,15,93,2022-08-06,1,0,email,desktop,Denver
2,6,56,2022-08-02,0,1,organic,tablet,Calgary
3,19,77,2022-08-05,1,0,organic,desktop,Victoria
4,4,84,2022-08-02,0,1,direct,tablet,Los Angeles

### Pages Viewed Table

Generate dataframe for Pages Viewed Table

In [20]:
intervals_ = [(1,50), (50,100),(1,4),(0,50),["PAGE", "EVENT"]]

dfpv = generate_fake_dataframe(
          size = 5000,
          cols = "iiiic",
          col_names = ["visitorid", "visitid", "hitnumber", "hittime","hittype"],
          intervals = intervals_)

Fill out Interaction/Purchases Randomly

In [21]:

event_list = ['interaction', 'purchase']
event_actions = ['add-to-bag']

for i, row in enumerate(dfpv['hittype']):
    if(row == "EVENT"):
        dfpv.loc[i,'eventCategory'] = random.choice(event_list)
        if(dfpv.loc[i,'eventCategory'] == 'interaction'):
            dfpv.loc[i,'eventAction'] = 'add-to-bag'
        else:
            dfpv.loc[i,'eventAction'] = 'purchase'
        dfpv.loc[i,'eventLabel'] = random.randint(70000,70050)
    else:
        dfpv.loc[i,'eventCategory'] = " "
        dfpv.loc[i,'eventLabel'] = 0
        dfpv.loc[i,'eventAction'] = " "

In [73]:
dfpv.head()

,visitorid,visitid,hitnumber,hittime,hittype,eventCategory,eventLabel,eventAction
0,35,76,1,35,PAGE,,0,
1,30,91,1,21,PAGE,,0,
2,41,74,2,10,EVENT,interaction,70011,add-to-bag
3,24,92,3,42,PAGE,,0,
4,39,65,2,16,EVENT,purchase,70048,purchase

'''
Move DF to Postgres for querying if necessary
'''
from sqlalchemy import event
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:admin@localhost:5432/postgres')


df.to_sql('visits', engine)

### Conversion rate checks

Check total conversion rate

In [32]:
print('Conversions (absolute): %i out of %i' % (df.transactions.sum(), df.shape[0]))

print('Conversion Rate: %0.2f%%' % (df.transactions.sum() / df.shape[0] * 100.0))

Conversions (absolute): 4956 out of 10250
Conversion Rate: 48.35%

Calculate the conversion rate by **trafficsource**

In [33]:
conversion_rate_by_trafficsource = df.groupby(by='trafficsource')['transactions'].sum() / df.groupby(by='trafficsource')['transactions'].count() * 100.0
pd.DataFrame(conversion_rate_by_trafficsource.reset_index().rename(columns={'transactions':'conversion_%'})).sort_values(['conversion_%'],ascending=True).head()

  trafficsource  conversion_%
2       organic     47.204426
0        direct     48.112927
1         email     49.724717

Calculate the conversion rate by **devicecategory**

In [34]:
conversion_rate_by_devicecategory = df.groupby(by='devicecategory')['transactions'].sum() / df.groupby(by='devicecategory')['transactions'].count() * 100.0
pd.DataFrame(conversion_rate_by_devicecategory.reset_index().rename(columns={'transactions':'conversion_%'})).sort_values(['conversion_%'],ascending=True).head()

  devicecategory  conversion_%
2         tablet     47.694567
0        desktop     47.744581
1         mobile     49.606529

Calculate the conversion rate by **city**

In [35]:
conversion_rate_by_city = df.groupby(by='city')['transactions'].sum() / df.groupby(by='city')['transactions'].count() * 100.0

pd.DataFrame(conversion_rate_by_city.reset_index().rename(columns={'transactions':'conversion_%'})).sort_values(['conversion_%'],ascending=False).head(15)

           city  conversion_%
13     Victoria     51.120448
11      Toronto     51.066856
12    Vancouver     50.150602
9        Ottawa     49.487555
4       Halifax     49.107143
7      Montreal     48.554913
0       Calgary     48.159509
14     Winnipeg     48.088235
10  Quebec City     48.071625
5      Hamilton     47.555556
1       Chicago     47.460087
8      New York     47.251114
6   Los Angeles     47.013783
3      Edmonton     46.504559
2        Denver     45.530726

In [38]:
pd.options.display.float_format = '{:.0f}'.format

Group products by number of purchases to create a product-based funnel

In [49]:
dfpurchase = dfpv.groupby("eventLabel", sort=False)["eventAction"].apply(
...     lambda ser: ser.str.contains("purchase").sum()
... )

Group products by number of add-to-bag actions.

In [42]:
dfatb = dfpv.groupby("eventLabel", sort=False)["eventAction"].apply(
...     lambda ser: ser.str.contains("add-to-bag").sum()
... )

In [47]:
dfpurchase = dffunnel.reset_index()
dfatb = dfatb.reset_index()

Merge to see funnel by product

In [50]:
dffunnel = pd.merge(dfpurchase, dfatb, on="eventLabel")

In [62]:
dffunnel.rename(columns={"eventAction_x": "SumPurchases", "eventAction_y": "SumAddToBag"},inplace=True)

Funnel by product (eventLabel):

In [69]:
dffunnel.sort_values(by=['SumPurchases', 'SumAddToBag'],ascending=[False,False]).reset_index().drop(columns=['index'])

    eventLabel  SumPurchases  SumAddToBag
0        70047            39           31
1        70007            34           20
2        70014            32           24
3        70010            31           28
4        70029            31           27
5        70018            31           24
6        70032            31           24
7        70040            31           20
8        70028            30           22
9        70031            29           27
10       70015            28           31
11       70003            28           27
12       70038            28           22
13       70001            27           24
14       70013            27           24
15       70019            27           21
16       70045            27           21
17       70022            26           25
18       70021            26           24
19       70039            26           22
20       70049            25           24
21       70006            25           20
22       70002            25           19
23       70034            24           31
24       70017            24           25
25       70027            24           24
26       70008            24           20
27       70048            23           30
28       70023            23           22
29       70044            23           14
30       70046            22           33
31       70050            22           14
32       70041            22           13
33       70005            21           32
34       70004            21           28
35       70024            21           27
36       70000            21           15
37       70009            20           18
38       70026            19           35
39       70036            18           25
40       70037            18           23
41       70035            18           20
42       70030            17           29
43       70012            17           27
44       70042            17           24
45       70033            17           19
46       70016            16           28
47       70025            16           21
48       70011            15           26
49       70020            14           31
50       70043            11           20
51           0             0            0